name : Deploy Book Shop API
on:
  push: 
    branches:  [main] 
jobs: 
  build: 
    runs-on: ubuntu-latest 
    steps : 
      - name: setup repo
        uses: actions/checkout@v4
      - name : Install maven
        run: | 
          sudo apt-get update
          sudo apt-get install maven -y
      - name : build target
        run : | 
          mvn clean package -DskipTests
      - name : install docker
        run : |
          curl -fsSL https://get.docker.com -o get-docker.sh
          sh get-docker.sh
      - name: Login to docker
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_ACCESS_TOKEN}}
      - name : build image
        run : | 
          docker build -t bookshop:latest .
          docker tag bookshop:latest ${{secrets.DOCKERHUB_REGISTER}}/bookshop:latest
          docker push ${{secrets.DOCKERHUB_REGISTER}}/bookshop:latest
      - name: Copy file via SSH
        uses: appleboy/scp-action@v1 # Use the appleboy/scp-action
        with:
          host: ${{secrets.HOST}}
          port: ${{secrets.PORT}} 
          username: ${{secrets.USERNAME}} 
          password: ${{secrets.PASSWORD}} 
          source: "docker-compose.yaml" # The local path to the file in your repo
          target: "/home/${{secrets.USERNAME}}/"
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Login to docker
        uses: docker/login-action@v2
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_ACCESS_TOKEN}}
      - name : ssh authentication
        uses: appleboy/ssh-action@v1
        with:
          host: ${{secrets.HOST}}
          port: ${{secrets.PORT}} 
          username: ${{secrets.USERNAME}} 
          password: ${{secrets.PASSWORD}} 
          script: | 
            echo "successfuly authenticated"
            docker pull ${{secrets.DOCKERHUB_REGISTER}}/bookshop:latest
            docker stop bookshop_container || true 
            docker rm bookshop_container || true 
            docker run -p 8080:8080 -d --name bookshop_container ${{secrets.DOCKERHUB_REGISTER}}/bookshop:latest
  
